
            <h1>Resourcit Home</h1>
            <p>Welcome to Resourcit Home Page. This is a new website under construction which will server as a Resource Management Application. 
            It would support multiple clients who want to manage the allocation and work assignment for their resources under various projects 
            based on partial or full utilization. The project idea has been provided by Nagesh Rao. The implementation has been initiated by 
            Mandeep Kaur. Hoping to make it a great project!</p>




